<h2 class="headerColor mt-4 mb-4 ml-3 mr-3">{{myCharacterTitle}}</h2>
<select class="m-3">
    <option *ngFor="let characterName of characterNames.results" [value]="characterName.name" [selected]="characterName.selected" (click)="onSelect(characterName)">{{characterName.name}}</option>
</select>
<table  *ngIf="characterDetail" class="table table-striped ml-3 mr-3">
    <thead>
      <tr class="col-12">
        <th scope="col">height</th>
        <th scope="col">mass</th>
        <th scope="col">hair color</th>
        <th scope="col">skin color</th>
        <th scope="col">birthyear</th>
      </tr>
    </thead>
    <tbody>
      <tr>The Character name is {{characterDetail.name}}</tr>
      <tr>
        <td>{{characterDetail.height}}</td>
        <td>{{characterDetail.mass}}</td>
        <td>{{characterDetail.hair_color}}</td>
        <td>{{characterDetail.skin_color}}</td>
        <td>{{characterDetail.birth_year}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="filmNames" class="ml-3 mr-3">
     <h5 class="headerColor">List of Films</h5> 
      <div *ngFor="let filmName of filmNames">{{filmName.title}}</div>
  </div>